[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Kile - Logiciels libres et enseignement
Type=Link
URL=http://logicielslibres.dane.ac-versailles.fr/spip.php?article94
Icon=text-html
Name[fr_FR]=tuto_kile
